.container {
  height: 100vh;
}

mat-toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.title {
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

mat-nav-list a:hover {
  background: #f0f0f0;
}

.active-link {
  background: #1976d2; /* Couleur de Material Primary */
  color: white !important;
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav {
    width: 200px;
    transition: all 0.3s ease-in-out;
  }
  
  
  